# Google OAuth
GOOGLE_CLIENT_ID=1019228620951-2lvctsnreemkva94hdmgd661cg1mg24l.apps.googleusercontent.com


# AI Providers API Keys
OPENROUTER_API_KEY=your_openrouter_key_here
HUGGINGFACE_API_KEY=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
POE_TOKEN=your_poe_token_here

#DataBase
DATABASE_URL=postgresql://prompt_improver_db_user:tmgmH6H7B5KGUY68Oh9cnqjSLiQIyWLJ@dpg-d3h1d1ogjchc73a4ljvg-a.oregon-postgres.render.com/prompt_improver_db

# Google Ads (optional)
GOOGLE_ADS_CLIENT_ID=ca-pub-xxxxxxxxxxxxxxxxx
GOOGLE_ADS_SLOT_ID=xxxxxxxxxx

# Development
NODE_ENV=production